<h1>Listado de Personas</h1>
<table border="1">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Juan Luis</td>
      <td>Barrionuevo</td>
    </tr>
    <tr>
      <td>Sergio</td>
      <td>Gonzalez</td>
    </tr>
    <tr>
      <td>Roberto</td>
      <td>Martinez</td>
    </tr>
  </tbody>
</table>

<div class="navigation-buttons">
  <a routerLink="/formulario">Abrir Formulario</a>
  <button (click)="abrirListado()">Abrir listado</button>
  <a routerLink="/formulario-reactivo">Formulario Reactivo</a>
</div>