@model Ejercicio1.Models.ViewModel.Ejercicio4EditarPersonaVM
<div class=" = "text-center">
  @Model.clsPersona.nombre
    <select>
            @foreach (var departamento in Model.departamentos) {
            IF 
        }
    </select>
    
</div>