<h1>Inventario de Productos Electrónicos</h1>

<ul>
    <li>Laptop Gaming Pro X</li>
    <li>Smartphone Z Ultra</li>
    <li>Auriculares Inalámbricos con cancelación de ruido</li>
</ul>

<hr />

@Html.ActionLink("Volver al Plato Principal", "Index", "Filete")