<h1>Listado de Personas</h1>
<table border="1">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Juan Luis</td>
      <td>Barrionuevo</td>
    </tr>
    <tr>
      <td>Sergio</td>
      <td>Gonzalez</td>
    </tr>
    <tr>
      <td>Roberto</td>
      <td>Martinez</td>
    </tr>
  </tbody>
</table>

<h2>Lista de Personas</h2>
<ul class="heroes">
  <li>
    <button type="button" class="hero-button">
      <span class="name">Juan Luis Barrionuevo</span>
    </button>
  </li>
  <li>
    <button type="button" class="hero-button">
      <span class="name">Sergio Gonzalez</span>
    </button>
  </li>
  <li>
    <button type="button" class="hero-button">
      <span class="name">Roberto Martinez</span>
    </button>
  </li>
</ul>