@model Ejercicio1.Models.Entities.clsPersona

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>@ViewData["Saludo"]</h2>

<p>Fecha actual: @ViewData.Fecha</p>

<h3>Datos personales</h3>

<ul>
    <li><strong>Nombre:</strong>@Model.nombre</li>
    <li><strong>Edad:</strong>@Model.nombre</li>
</ul>